# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Content media
public/content/audio/*
!public/content/audio/.gitkeep
public/content/image/*
!public/content/image/.gitkeep

# User icon
public/user/icon/*
!public/user/icon/.gitkeep
